:root {
    --main-white: #f0f0f0;
    --main-red: #cc0000;
    --main-gray: #1a1a1b;
    --main-black: #030303;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
        /* 18px */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

h1,h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.7rem;
}

h3 {
    border-bottom: 0.2rem solid white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

    display: grid;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-black);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: var(--main-gray);
}

#welcome-section img {
    width: 300px;
    border-radius: 50%;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-gray);
    background-image: linear-gradient(62deg, #3a3d4094 0%, #181719 100%);
}

.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
    isolation: isolate;
}

.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: var(--main-gray);
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-gray);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: var(--main-black);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.project:hover .code {
    color: var(--main-red);
    isolation: isolate;
}

.project-image {
    height: 250px;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.code {
    color: var(--main-black);
    transition: color 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-black);
    transition: 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover > i {
    transform: translateX(2px);
}

.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-black);
    background-image: linear-gradient(62deg, #3a3d4094 0%, #181719 100%);
}

.contact-section-header > h2 {
    font-size: 6rem;
}

.contact-section-header > p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
    border-bottom: 0.2rem solid var(--main-red);
}




.hidden {
    display: none;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    isolation: isolate;
}

footer > p {
    margin: 2rem;
}

footer i {
    vertical-align: middle;
}
    }

    }

    }
}